@(question: QuestionWithAnswers, form: Form[Answer])

@main(question.title) {
    <h1>@question.title</h1>
    <div id="question">
        <p class="text">@question.text</p>
        <p class="author">Asked by @question.author.getDisplayName() @util.DateFormatter.format(question.date)</p>
    </div>

    <h1>@question.answers.size Answer(s)</h1>

    @for(answer <- question.answers) {
        <div class="answer">
            <p class="text">@answer.text</p>
            <p class="author">Answered by @answer.author.getDisplayName() @util.DateFormatter.format(answer.date)</p>
        </div>
    }

    <div id="answerForm">
        <h1>Post Answer</h1>
        @helper.form(action = routes.QuestionController.postAnswer(question.id)) {
            <p><textarea id="answerArea" name="text">@form("text").value</textarea></p>
            <p><input type="submit" value="Submit"/></p>
        }
    </div>

}